html, body, #container
  width 100%
  height 100%
  overflow hidden
  margin 0
body, #container
  display flex
  flex-direction column
#toolbar
  padding 0.5em
  background #78755c
  color #fff
#main
  display flex
  flex 1
  .col
    flex 5
    &.edit
      display flex
      flex 2
textarea
  width 100%
*
  font 12px Helvetica Neue, Helvetica, Arial, sans-serif
  box-sizing border-box

.vis-time-axis
  .vis-grid.vis-saturday, .vis-grid.vis-sunday
    background #e8d5d5
  .vis-text.vis-saturday, .vis-text.vis-sunday
    color white
