html, body
  width 100%
  height 100%
  overflow hidden
  margin 0
body
  display flex
  flex-direction column
#container
  display flex
  flex 1
  .col
    flex 5
    &.edit
      display flex
      flex 2
textarea
  width 100%
*
  font 12px Helvetica Neue, Helvetica, Arial, sans-serif
